.redacted {
  color: #b7b7b7;
  background-color: #b7b7b7;
}

p {
  font-family: 'Times New Roman', Times, serif;
  line-height: 17pt;
  user-select: none;
}

::selection {
  color: #000;
  background-color: #dedede;
}

.redacted::selection {
  background-color: #bbb;
  color: #bbbbb1;
}

