.redacted {
  color: #b7b7b7;
  background-color: #b7b7b7;
}
.white {
  color: white;
  background-color: white;
}
#poemTitle {
  margin-bottom: 0;
}
#authorInfo {
  margin-top: 0;
  font-style: italic;
  font-weight: normal;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  line-height: 1.35em;
  user-select: none;
}
div#poemText {
  padding: 1em 2em;
}

::selection {
  color: #000;
  background-color: #dedede;
}

.redacted::selection {
  background-color: #bbb;
  color: #bbbbb1;
}

.button {
  background-color: #555555;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  margin: 4px 2px;
  width: fit-content;
  height: 20pt;
  cursor: pointer;
  font-size: 13pt;
  font-family: 'Courier New', Courier, monospace;
}
.button:hover {
  background-color: #444444;
}
.button:disabled {
  background-color: #aaaaaa;
  cursor: default;
}

