.redacted {
  color: #b7b7b7;
  background-color: #b7b7b7;
}

p {
  font-family: 'Times New Roman', Times, serif;
  line-height: 17pt;
  user-select: none;
}

::selection {
  color: #000;
  background-color: #dedede;
}

.redacted::selection {
  background-color: #bbb;
  color: #bbbbb1;
}

.button {
  background-color: #555555;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  margin: 4px 2px;
  width: fit-content;
  height: 20pt;
  cursor: pointer;
  font-size: 13pt;
  font-family: 'Courier New', Courier, monospace;
}

